body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  color: #000000;
}

header {
  background: #636262;
  color: white;
  padding: 1rem;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover,
.navbar a.active {
  text-decoration: underline;
}

main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#contactmain {
  max-width: 359px;
}

h1 {
  text-align: center;
}

#bericht {
  width: 352px;
  height: 65px;
}

.mandjefoto {
  width: 150px;
  height: auto;
}

.winkelrij{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 10px #ccc;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;

}
#totaal{
  align-items:flex-end;
}

footer {
  background: #636262;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.product {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
}

button {
  background-color: #af1616;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #c01010;
}